<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_220_DataSource.Properties.Settings.VS2010ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=VS2010;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>