<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Padrao"></pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="diabonaldo@hotmail.com">
        <network defaultCredentials="true" host="smtp.hotmail.com" port="487" userName="diabonaldo@hotmail.com" password="abc123@"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
