<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_247_AppConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_247_AppConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <appSettings>
    <add key="nome" value="Agnaldo Diogo dos Santos"/>
    <add key="email" value="agnaldo@50minutos.com.br"/>
  </appSettings>

  <userSettings>
        <_247_AppConfig.Properties.Settings>
            <setting name="varUsuario" serializeAs="String">
                <value>xpto</value>
            </setting>
        </_247_AppConfig.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <_247_AppConfig.Properties.Settings>
            <setting name="varAplicacao" serializeAs="String">
                <value>xpto</value>
            </setting>
        </_247_AppConfig.Properties.Settings>
    </applicationSettings>
</configuration>